/*

- Do not include anything that will be actually rendered in
  CSS, because it will be added to every imported SASS file.

- Avoid using SASS @import rules inside resources files as
  it slows down incremental builds.

*/

$bright-green: #3ae06e;
$purple: #6A40EE;
$red: #e2454c;

$grey-warm: #3c3548;
$grey-cool: #324840;

$z-layer-MrHole: 1000;
$z-layer-PageHeader: 3000;
$z-layer-Flash: 5000;
$z-layer-Burger: 10000;