.tippy-tooltip.screenhole-theme {
  background-color: var(--primary-color) !important;
  color: #fff;
  max-width: 286px;
  line-height: 1.35;
  text-shadow: 0 1px 0 rgba(0,0,0,.75);
}

.tippy-tooltip.screenhole-theme .tippy-backdrop {
  background-color: var(--primary-color) !important;
}

.tippy-tooltip.danger-theme {
  background-color: var(--danger-color) !important;
  color: #000;
  max-width: 286px;
  line-height: 1.35;
}

.tippy-tooltip.danger-theme .tippy-backdrop {
  background-color: var(--danger-color) !important;
}
