*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #000;
  color: #fff;
  font-size: 16px;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-text-decoration-skip: ink;
  font-family: Poppins, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.App {
  min-height: 100vh;
  display: block;
  padding-top: var(--nav-height);
}

a {
  color: var(--primary-color);
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: var(--secondary-color);
}
